doctype html
html
  head
    title Classifica
  body
    h1 Classifica
    table
      thead
        tr
          th Squadra
          th Punti
          th Partite giocate
      tbody
        for squadra in classifica
          tr
            td= squadra.squadra
            td= squadra.punti
            td= squadra.partiteGiocate

    a(href='/') Home Page
