html
	head
		title Risultato quiz
	body
		h1 Risultato quiz

		p= "Nome: " + risultato.nome
		p= "Cognome: " + risultato.cognome
		p= "Punteggio: " + risultato.punteggio
		p= "Risultato: " + risultato.risultato

		a(href="index.html")
			button Torna alla home
