html
	head
		title Register
	body
		form(action="/register" method="post")
			h2 Register
				input(type="text" name="username" id="username" placeholder="Username")
				input(type="password" name="password" id="password" placeholder="Password")
			input(type="submit" value="Register")
